# Conectar a PostgreSQL de MS2
DB_HOST=localhost
DB_PORT=5434
DB_USER=ms2_user
DB_PASSWORD=ms2_pass
DB_NAME=vuelos_db

# S3
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1